*{
    padding: 0;
    margin: 0;
}
html, body {
    margin: 0; 
    height: 100%; 
    overflow: hidden;
    scroll-behavior: smooth;
}

#landingcanvas{
    height: 100vh;
    width: 100vw;
    position: relative;
    display:block;   
}

@font-face {
    font-family: 'techno_hideoregular';
    src: url('techno_hideo-webfont.woff2') format('woff2'),
         url('techno_hideo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#namecontainer{
    position: absolute;
}

#welcome{
    font-family: 'techno_hideoregular';
    transform: translateY(270%);
    opacity: 0.6;
    font-size: 70px;
    /* font-weight: 700; */
    display: none;
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4); */
    z-index: 1;
}

#entercontainer{
    position: absolute;
}

#name{
    font-family: 'techno_hideoregular';
    font-size: 30px;
    /* font-weight: 700; */
    display: none;
    /* text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4); */
    z-index: 1;
}

#menu{
    width: 100%;
    transform: translateY(280%);
    position: absolute;
}

.menuitem{
    list-style: none;
    font-family: 'techno_hideoregular';
    display: none;
    opacity: 0.6;
    font-size: 40px;
    /* font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4); */
    z-index: 1;
}

#carouselcontainer{
    display: none;
    margin: 0 auto;
    width: 250px;
    height: 200px;
    left: 40%;
    position: absolute;
    perspective: 1500px;
}

.carousel{
    height: 100%;
    width: 100%;
    top: 50%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card{
    position: absolute;
    background: gray;
    width: 250px;
    height: 300px;
    font-size: 10px;
    text-align: center;
    color: white;
    opacity: 0.92;
    font-family:"techno_hideoregular";
    
}

.btn{
    border-radius: 25%
}

#atelier{
    transform: rotateY(0deg) translateZ(250px);
}
#bricks{
    transform: rotateY(72deg) translateZ(250px);
}
#heart{
    transform: rotateY(144deg) translateZ(250px);
}
#capstone2{
    transform: rotateY(216deg) translateZ(250px);
}
#capstone3{
    transform: rotateY(288deg) translateZ(250px);
}
.next, .prev {
    display: none;
    position: absolute;
    top: 83%;
    cursor: pointer;
    font-family: 'techno_hideoregular';
    opacity: 0.6;
    font-size: 20px;
    /* font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
        1px 18px 6px rgba(16,16,16,0.4),
        1px 22px 10px rgba(16,16,16,0.2),
        1px 25px 35px rgba(16,16,16,0.2),
        1px 30px 60px rgba(16,16,16,0.4); */
}
.next:hover, .prev:hover, .homebtn:hover, .projectsbtn:hover, .aboutbtn:hover, .contactbtn:hover{
    opacity: 0.95;
}

.next { 
    right: 45%; 
}
.prev {
    left: 45%; 
}

.card-text{
    font-size: 11px;
}

.homebtn, .projectsbtn, .aboutbtn, .contactbtn{
    position: absolute;
    top: 90%;
    cursor: pointer;
    font-family: 'techno_hideoregular';
    opacity: 0.6;
    font-size: 25px;
    z-index: 2;
}

.homebtn{
    left: 25%;
}

.projectsbtn{
    left: 34%;
}

.aboutbtn{
    left: 48%;
}

.contactbtn{
 left: 63%
}

.bottomnav{
    display: none;
}

.active{
    opacity: 1;
    transform: scale(1.2);
}

.aboutcontainer {
    position:absolute;
    display:none;
    width: 60%;
    height:60%;
    opacity: 0.85;
    font-family:'techno_hideoregular';
    top: 15%;
    left: 19%;
  }
  
.aboutmehalf {
    background-color: black;
    position: absolute;
    left: 0px;
    width: 50%;
    height:100%;
  }
  
.stackshalf {
    background-color: beige;
    position: absolute;
    right: 0px;
    width: 50%;
    height:100%;
  }

.stackslist{
    list-style: none;
}

#contactpage{
    position: absolute;
}

.formicon{
    position:absolute;
    margin: 0;
    padding: 0;
}

.formicon .formlist{
    list-style: none;
}

.formicon .formlist a{
    display:block;
    position:relative;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    margin:0 10px;
    transition: 0.5s;
}

.formicon .formlist a span{
    position: absolute;
    transition: transform .5s;
}

ul li a span:nth-child(1), ul li a span:nth-child(3){
    width:100%;
    height: 2px;
    background: #262626;
}

ul li a span:nth-child(1){
    top: 0;
    left: 0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1){

    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

ul li a span:nth-child(3){
    bottom: 0;
    left: 0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3){

    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

ul li a span:nth-child(2), a span:nth-child(4){
    width:2px;
    height: 100%;
    background: #262626;
}

ul li a span:nth-child(2){
    top: 0;
    left: -10;
    transform: scale(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2){

    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

ul li a span:nth-child(4){
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}

ul li a:hover span:nth-child(4){

    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}

#contactpage{
    left: 36%;
    display: none;
    font-family:"techno_hideoregular";
}
